# Ignore everything
*

# Except ...
# Essential files
!.gitignore
!README.md

# Subdirectories
!*/

# Class notes
!notas*.org
!notas*.txt

# Schedule, syllabus
!header.tex
!cronograma.org
!cronograma.tex
!cronograma.pdf
!plano-ensino.org
!plano-ensino.tex
!plano-ensino.pdf
!*.bib